[submodule "CoreAPI/wwwroot/system/test/paper"]
	path = CoreAPI/wwwroot/system/test/paper
	url = https://github.com/nhanfu/paper-kit-2.git
[submodule "fe"]
	path = fe
	url = git@github.com:nguyentrantin98/example-htmljs-code.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:nguyentrantin98/htmljs-design.git
