[submodule "CoreAPI/wwwroot/system/test/paper"]
	path = CoreAPI/wwwroot/system/test/paper
	url = https://github.com/nhanfu/paper-kit-2.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:nhanfu/corefe.git
