.clearfix {
    display: block;
}

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }

.iconlogo-bachhoaxanh {
    background-position: -170px 0;
}

.iconlogo-dienmayxanh {
    background-position: -85px 0;
}

.iconlogo-kids {
    background-position: -170px -29px;
}

.iconlogo-topzone {
    background-position: 0 -58px;
}

.iconlogo-sport {
    background-position: 0 -29px;
}

.iconlogo-tantam {
    background-position: -170px -90px;
}

.iconlogo-ankhang {
    background-position: -85px -90px;
}

.iconlogo-4kfarm {
    background-position: 0 -90px;
}

.iconlogo-vieclam {
    background-position: 0 -120px;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer__logo {
    background-color: #fff;
}

.footer__logo-hd {
    color: #222;
    font-size: 14px;
    line-height: 21px;
}

.footer__logo-list {
    font-size: 0;
    margin-top: 15px;
}

    .footer__logo-list li {
        float: left;
        width: 80px;
        margin: 0 8px 8px 0;
    }

        .footer__logo-list li:nth-child(4n+4) {
            margin-right: 0;
        }

        .footer__logo-list li a {
            display: block;
        }

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}

ul {
    list-style: none;
}

.clearfix {
    display: block;
}

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-rendering: geometricPrecision;
}

[class^="icon-"], [class*="icon-"] {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/homev2/desk/icon_common@2x.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
}

.icon-facebook {
    background-position: -225px 0;
    height: 18px;
    width: 18px;
}

.icon-youtube {
    background-position: -200px 0;
    height: 18px;
    width: 18px;
}

.icon-congthuong {
    background-position: -200px -30px;
    height: 24px;
    width: 79px;
}

.icon-khieunai {
    background-position: -250px 0;
    height: 25px;
    width: 25px;
}

.icon-protected {
    background-position: -80px -60px;
    height: 24px;
    width: 122px;
}

.footer {
    clear: both;
    border-top: 1px solid #e2e2e2;
    margin-top: 35px;
    background: #fff;
}

.footer__top {
    padding: 15px 0 5px;
}

.footer__col {
    float: left;
    width: 24%;
}

    .footer__col:nth-child(3) {
        width: 23%;
    }

    .footer__col:nth-child(4) {
        width: 29%;
    }

.f-listmenu li {
    margin-bottom: 10px;
}

    .f-listmenu li.hidden {
        display: none;
    }

    .f-listmenu li a {
        color: #333;
        line-height: 21px;
    }

        .f-listmenu li a:hover {
            color: #2f80ed;
        }

.f-listmenu .arrow {
    position: relative;
}

    .f-listmenu .arrow::before {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #333;
        content: '';
        position: absolute;
        top: 7px;
        right: -15px;
    }

.f-listtel__content {
    line-height: 21px;
    margin-top: 10px;
}

    .f-listtel__content a {
        color: #2f80ed;
        font-weight: bold;
    }

    .f-listtel__content > span {
        width: 65px;
        display: inline-block;
    }

.f-social {
    margin-bottom: 20px;
}

    .f-social a {
        color: #2f80ed;
        margin-right: 10px;
    }

        .f-social a i {
            margin-right: 5px;
        }

.f-certify {
    margin-bottom: 20px;
}

    .f-certify a {
        margin-right: 5px;
        display: inline-block;
        vertical-align: top;
    }

        .f-certify a._ncsc img {
            width: 85px;
        }

.f-website a {
    margin-right: 10px;
}

.copyright {
    background-color: #f1f1f1;
    padding: 15px 0;
}

    .copyright p {
        color: #666;
        font-size: 12px;
    }
