.header__main > div {
    width: 100%;
    max-width: 1220px;
    margin: auto;
    padding: 0 10px;
}

.header__main {
    background: linear-gradient(-180deg,#f53d2d,#f63);;
    padding: 0 0 10px;
}

.main-menu .navmwg {
    display: none;
    position: absolute;
    background: #fff;
    top: 43px;
    width: 770px;
    border-radius: 4px;
    padding: 10px;
    z-index: 10;
    border: 1px solid #eee;
    left: 0;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(4,auto);
}

    .main-menu .navmwg .item-child:first-child {
        grid-row: 1/4;
    }

.main-menu li.has-list:hover .navmwg {
    display: grid;
}

.main-menu .navmwg.limit-width {
    width: 160px;
}

.main-menu li.has-list:hover .navmwg.limit-width {
    display: block;
}

.main-menu .navmwg::before, .navmwg::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 40px;
    border-bottom: 10px solid #d9d9d9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-color: #fff;
}

.main-menu a span.has-child:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid #333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.main-menu .navmwg div {
    width: 100%;
    margin-bottom: 10px;
}

.main-menu .navmwg .no-child-final {
    margin: 0;
    width: auto;
    float: none;
}

    .main-menu .navmwg .no-child-final a {
        display: block;
    }

.main-menu .navmwg strong {
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    padding-bottom: 5px;
    color: #333;
}

.main-menu .navmwg div a:hover h3 {
    font-weight: bold;
}

.main-menu .navmwg a {
    display: block;
    padding: 10px 5px 0 0;
    color: #fff;
    font-size: 11px;
    position: relative;
}

.main-menu .navmwg div a {
    display: block;
    padding: 10px 5px 0 0;
    color: #fff;
    font-size: 11px;
    position: relative;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px 0;
    padding-top: 10px;
}
