.border {
    background-color: #f1f1f1;
    height: 4px;
}

.border--pad {
    margin-left: -10px;
    width: calc(100% + 20px);
}

.show-menu .border {
    background-color: #f1f1f1;
    height: 4px;
}

.show-menu .border--pad {
    margin-left: -10px;
    width: calc(100% + 20px);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}

    .nav-list a {
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,.1);
        color: #333;
        display: flex;
        justify-content: center;
        font-size: 12px;
        line-height: 16px;
        min-height: 40px;
        margin: 0 0 6px 6px;
        padding: 5px 0;
        text-align: center;
        width: calc(20% - 5px);
        position: relative;
    }

        .nav-list a:nth-child(5n+1) {
            margin-left: 0;
        }

.show-menu__link {
    margin: 10px 0 5px;
}

    .show-menu__link .link-item {
        float: left;
        width: calc(50% - 5px);
    }

        .show-menu__link .link-item:first-child {
            margin-right: 10px;
        }

    .show-menu__link ul li:last-child {
        border-bottom: none;
    }

    .show-menu__link .link-item p {
        font-weight: bold;
        line-height: 16px;
        margin-bottom: 5px;
    }

    .show-menu__link .link-item li {
        border-bottom: 1px solid #e0e0e0;
        padding: 6px 0;
    }

    .show-menu__link .link-item a {
        color: #333;
        font-size: 12px;
        line-height: 16px;
    }

.show-menu .nav-list a {
    box-shadow: none;
}

.txt-history {
    color: #2f80ed;
    display: inline-block;
    margin: 15px 0;
}

.txt-tel {
    margin-bottom: 15px;
}

    .txt-tel a {
        color: #2f80ed;
    }

.nav-list a span.item__label {
    background-color: #f51212;
    border-radius: 3px;
    color: #fff;
    font-size: 9px;
    font-weight: normal;
    position: absolute;
    padding: 0 3px;
    right: -2px;
    top: 0;
    line-height: 11px;
}

    .nav-list a span.item__label::before {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid #f00;
        bottom: -3px;
        content: '';
        left: 5px;
        position: absolute;
    }
