drop procedure [dbo].[usp_calcReceivable]
go

create procedure [dbo].[usp_calcReceivable]
	@fromdate datetime2,
	@todate datetime2,
	@dateTypeId int,
	@finished bit,
	@ownerId int,
	@domesticId bit,
	@customerIds varchar(100) 
as
begin
	select *
	into #Listcustomer
    from [dbo].[SplitStringToTable](@customerIds, ',')

	declare @checkAll bit = 0
	set @checkAll = (select case when count(*) > 0 then 1 else 0 end from #Listcustomer)

	declare @now datetime2 = getdate();
	insert into ReceivableDetail (EntityId, RecordId, Active, InsertedBy, InsertedDate, 
		CurrencyId,ExchangeRate, PriceBeforeTax, Vat, PriceAfterTax,SurchargeAfterTax,SurchargeBeforeTax, CustomerId, FromId,ToId,ReceivedDate,DeliveryDate,TruckTypeId,TotalContainer,Booking,ContainerNo)

	select  2,detail.Id,1,@ownerId,@now,detail.CurrencyId,ISNULL(ex.ExchangeRate,1),detail.TotalPriceBeforeTax,detail.Vat,detail.TotalPriceAfterTax,detail.TotalSurchargeAfterTax,detail.TotalPriceBeforeTax,so.CustomerId,detail.FromId,detail.ToId,detail.ReceivedDate,detail.DeliveryDate,detail.TruckTypeId,detail.TotalContainer,detail.BookingNo,detail.ContainerNo
	from [OrderDetail] detail
	join [Order] so on detail.OrderId = so.Id
	outer apply GetExchangeRate(detail.CurrencyId) as ex
	where detail.FreightStateId != 8 and
		((@dateTypeId = 1 and detail.ReceivedDate >= @fromDate and detail.ReceivedDate < @todate) or
		(@dateTypeId = 2 and detail.ReceivedDate >= @fromDate and detail.ReceivedDate < @todate) or
		(@dateTypeId = 3 and detail.OrderDate >= @fromDate and detail.OrderDate < @todate))
		and
		((@finished = 1 and detail.ContainerMovingTypeId = 2696 and detail.FreightStateId = 7) or 
		(@finished = 0 and detail.FreightStateId >= 3))
		and (@checkAll = 0 or (@checkAll = 1 and so.CustomerId in (select [data] from #Listcustomer)))
	
	-- Calc Customer Receivable
	insert into Receivable (CustomerId, CurrencyId, ExchangeRate, OpeningCredit, ClosingCredit, FromDate, ToDate, IsManual,
		 DomesticHaveToReceive, HaveToReceive,Received, DomesticClearing, Clearing, Attachment, Active, InsertedDate, InsertedBy,
		 StatusId, Vat, TotalPriceAfterTax, TotalPriceBeforeTax, TotalPriceSurchargeBeforeTax, TotalPriceSurchargeAfterTax, TotalCollectOnBehalfAfterTax, TotalCollectOnBehalfBeforeTax)
	select CustomerId, CurrencyId, detail.ExchangeRate, 0, 0, @fromdate, @todate, 0,  sum(PriceAfterTax * detail.ExchangeRate) as DomesticHaveToReceive,
		sum(PriceAfterTax) as HaveToReceive, sum(PriceAfterTax) as Received, 0 as DomesticClearing, 0 as Clearing, '', 1, @now, @ownerId, 2, detail.Vat,
		sum(PriceAfterTax), sum(PriceBeforeTax), sum(SurchargeBeforeTax), sum(SurchargeAfterTax), sum(CollectOnBehalfAfterTax), sum(CollectOnBehalfBeforeTax)
	from ReceivableDetail as detail
	outer apply GetExchangeRate(CurrencyId) as ex
	where detail.InsertedDate = @now and CustomerId is not null
	group by CustomerId, CurrencyId, detail.ExchangeRate,Vat

	update detail
	set ReceivableId = receivable.Id
	from Receivable receivable
	join ReceivableDetail as detail on detail.InsertedDate = @now and receivable.InsertedDate = @now
		and detail.CustomerId = receivable.CustomerId and detail.Vat = receivable.Vat and detail.ExchangeRate = receivable.ExchangeRate and detail.CurrencyId = receivable.CurrencyId

	-- calc opening debit for customer
	Update Receivable
	set receivable.OpeningCredit = isnull(closing.ClosingCredit, 0), DateTypeId = @dateTypeId, CountFinishedOnly = @finished
	from Receivable receivable
	outer apply GetExchangeRate(receivable.CurrencyId) as ex
	outer apply (
		select top 1 *
		from Receivable
		where Active = 1 and ToDate < @fromdate and CustomerId = receivable.CustomerId
		   and receivable.CustomerId = CustomerId and receivable.Vat = Vat and receivable.ExchangeRate = ExchangeRate and receivable.CurrencyId = CurrencyId
		order by InsertedDate desc
	) as closing
	where receivable.InsertedDate = @now

	update Receivable set
		HaveToReceive = OpeningCredit + HaveToReceive - Clearing,
		ClosingCredit = HaveToReceive
	where receivable.InsertedDate = @now

	update Receivable set 
		DomesticHaveToReceive = DomesticOpeningCredit + DomesticHaveToReceive - DomesticClearing,
		DomesticClosingCredit = DomesticHaveToReceive
	where receivable.InsertedDate = @now
	drop table #Listcustomer
end
