.bXIPFu {
    background-color: rgb(245, 245, 250);
}

    .bXIPFu .breadcrumb {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .bXIPFu a.breadcrumb-item {
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: 40px;
        color: rgb(128, 128, 137);
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        white-space: nowrap;
    }

        .bXIPFu a.breadcrumb-item:hover {
            color: rgb(56, 56, 61);
            text-decoration: underline;
        }

        .bXIPFu a.breadcrumb-item:last-child {
            color: rgb(56, 56, 61);
            cursor: default;
            overflow: hidden;
        }

            .bXIPFu a.breadcrumb-item:last-child span {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .bXIPFu a.breadcrumb-item:last-child:hover {
                text-decoration: none;
            }

    .bXIPFu .icon.icon-next {
        margin-left: 5.5px;
        margin-right: 8.5px;
    }

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
