@using UiEcommer.Models

@inject IConfiguration Configuration

<div class="big-banner" style="height:100px;background-color:#efefef">
</div>
@code {
    [Parameter]
    public List<Category> categorys { get; set; }
}
