@using UiEcommer.Models

@inject IConfiguration Configuration
<ul class="option-promo">
    @foreach (var item in promos)
    {
        <li>
            <a href="/@item.Link">
                <img src="https://cdn.tgdd.vn//content/Frame46553-80x92.png">
                <span>
                    @item.Name
                </span>
            </a>
        </li>
    }
</ul>
@code {
    [Parameter]
    public List<Promo> promos { get; set; }
}
