.name-box {
    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    text-transform: uppercase;
}

.shopping-trends {
    display: block;
    overflow: hidden;
    margin: 0 0 30px;
    border-radius: 12px;
    background: linear-gradient(90deg,#ffecd2 0%,#fcb69f 100%);
}

    .shopping-trends ul {
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        padding: 0 22px 30px;
    }

        .shopping-trends ul li {
            float: left;
            width: 280px;
            margin: 0 12px 0 0;
            position: relative;
        }

            .shopping-trends ul li span {
                position: absolute;
                bottom: 58px;
                left: 18px;
                font-size: 16px;
                line-height: 14px;
                color: #333;
            }

            .shopping-trends ul li strong {
                position: absolute;
                bottom: 24px;
                left: 18px;
                font-size: 17px;
                line-height: 20px;
                color: #2f80ed;
                font-weight: 500;
            }

            .shopping-trends ul li:last-child {
                margin-right: 0;
                float: right;
            }

            .shopping-trends ul li a {
                display: block;
                overflow: hidden;
            }

            .shopping-trends ul li img {
                display: block;
                width: 100%;
            }
