.name-box {
    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    text-transform: uppercase;
}

    .name-box a {
        float: right;
        text-transform: none;
        font-weight: 500;
        color: #555;
        font-size: 16px;
        text-transform: uppercase;
    }

        .name-box a:after {
            content: '';
            border-top: 1px solid #333;
            border-right: 1px solid #333;
            width: 6px;
            height: 6px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 2px 5px;
            transform: rotate(45deg);
        }

.bg-ctv {
    display: block;
    overflow: hidden;
    max-width: 285px;
}

    .bg-ctv img {
        display: block;
        width: 100%;
    }

.col2-tech {
    display: flex;
    align-items: stretch;
    margin: 0 0 30px;
}

.tech-new {
    float: left;
    width: 895px;
    overflow: hidden;
    background: #fff;
    margin-right: 20px;
    border-radius: 12px;
}

    .tech-new ul {
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        padding: 15px 18px;
    }

        .tech-new ul li {
            float: left;
            overflow: hidden;
            vertical-align: middle;
            width: 33%;
            margin-right: 10px;
        }

            .tech-new ul li:last-child {
                margin-right: 0;
            }

            .tech-new ul li a {
                display: block;
                overflow: hidden;
            }

            .tech-new ul li img {
                display: block;
                width: 100%;
                border-radius: 8px;
                height: auto;
            }

            .tech-new ul li span {
                display: block;
                overflow: hidden;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-size: 16px;
                line-height: 26px;
                color: #333;
                margin: 10px 0;
            }
