/*! CSS Used from: Embedded */
* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}

section {
    margin-top: 0 !important;
}
/*! CSS Used from: Embedded */
.wrapper {
    background-position: center top;
    background-repeat: no-repeat;
    max-width: 100%;
    position: relative;
}

.group-pages {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 8px;
    padding: 2px 5px;
}

    .group-pages a {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        color: #000;
        background: #fff;
        opacity: .8;
        border-radius: 12px;
    }

        .group-pages a.active {
            background: #fed100;
        }

        .group-pages a > div {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .group-pages a > div div {
                display: block;
                font-size: 22px;
                padding: 10px 5px;
                margin-bottom: 7px;
            }
/*! CSS Used from: Embedded */
div.group-pages a {
    margin: 0 5px;
}