@using UiEcommer.Models
<section class="wrapper" style="height:600px;background-image:url(https://cdn.tgdd.vn/2022/06/campaign/MHD-1920x600-1.jpg)">
    <div class="group-pages">
        @foreach (var item in optionPromos)
        {
            <a href="@item.Link" class="@(url.Contains(item.Link) ? "active": "")">
                <div class="page-item">
                    <div class="img-box">
                        <img src="https://cdn.tgdd.vn/2022/06/campaign/LDP---Icon-Desk-61x60-1.png">
                    </div>
                    <div>@item.Name</div>
                </div>
            </a>
        }
    </div>
</section>
@code {
    [Parameter]
    public List<Promo> optionPromos { get; set; }
    [Parameter]
    public string url { get; set; }
}
